<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="10001" id="com.kylelabs.watermaze3d" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Water Maze 3D</name>
    <description>
        Designed with love by Kyle Hoang
    </description>
    <author email="kyle.labs89@gmail.com" href="http://kylephp.github.io/">
       Kyle Labs
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="res/android/mipmap-hdpi/ic_launcher.png" density="hdpi" />
        <icon src="res/android/mipmap-ldpi/ic_launcher.png" density="ldpi" />
        <icon src="res/android/mipmap-mdpi/ic_launcher.png" density="mdpi" />
        <icon src="res/android/mipmap-xhdpi/ic_launcher.png" density="xhdpi" />
        <icon src="res/android/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi" />
        <icon src="res/android/mipmap-xxxhdpi/ic_launcher.png" density="xxxhdpi" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon src="res/ios/AppIcon.appiconset/Icon-App-20x20@1x.png" width="20" height="20" />
        <icon src="res/ios/AppIcon.appiconset/Icon-App-20x20@2x.png" width="40" height="40" />
        <icon src="res/ios/AppIcon.appiconset/Icon-App-20x20@3x.png" width="60" height="60" />
        <icon src="res/ios/AppIcon.appiconset/Icon-App-29x29@1x.png" width="29" height="29" />
        <icon src="res/ios/AppIcon.appiconset/Icon-App-29x29@2x.png" width="58" height="58" />
        <icon src="res/ios/AppIcon.appiconset/Icon-App-29x29@3x.png" width="87" height="87" />
        <icon src="res/ios/AppIcon.appiconset/Icon-App-40x40@1x.png" width="40" height="40" />
        <icon src="res/ios/AppIcon.appiconset/Icon-App-40x40@2x.png" width="80" height="80" />
        <icon src="res/ios/AppIcon.appiconset/Icon-App-40x40@3x.png" width="120" height="120" />
        <icon src="res/ios/AppIcon.appiconset/Icon-App-57x57@1x.png" width="57" height="57" />
        <icon src="res/ios/AppIcon.appiconset/Icon-App-57x57@2x.png" width="114" height="114" />
        <icon src="res/ios/AppIcon.appiconset/Icon-App-60x60@1x.png" width="60" height="60" />
        <icon src="res/ios/AppIcon.appiconset/Icon-App-60x60@2x.png" width="120" height="120" />
        <icon src="res/ios/AppIcon.appiconset/Icon-App-60x60@2x.png" width="180" height="180" />
        <icon src="res/ios/AppIcon.appiconset/Icon-App-72x72@1x.png" width="72" height="72" />
        <icon src="res/ios/AppIcon.appiconset/Icon-App-72x72@2x.png" width="144" height="144" />
        <icon src="res/ios/AppIcon.appiconset/Icon-App-76x76@1x.png" width="76" height="76" />
        <icon src="res/ios/AppIcon.appiconset/Icon-App-76x76@2x.png" width="152" height="152" />
        <icon src="res/ios/AppIcon.appiconset/Icon-App-76x76@3x.png" width="228" height="228" />
        <icon src="res/ios/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png" width="167" height="167" />
        <icon src="res/ios/AppIcon.appiconset/Icon-Small-50x50@1x.png" width="50" height="50" />
        <icon src="res/ios/AppIcon.appiconset/Icon-Small-50x50@2x.png" width="100" height="100" />
    </platform>
    <engine name="android" spec="~7.0.0" />
    <plugin name="cordova-plugin-admob-free" spec="^0.18.0" />
    <engine name="android" spec="^7.0.0" />
    <engine name="ios" spec="~4.5.5" />
    <preference name="phonegap-version" value="cli-8.0.0" />
</widget>
